@import "bootstrap";
@import "login";

/** Estilos generales */

body { background: #F4F6FD; }

.btn { margin-right: 0.5em; }
.input-group-addon { min-width: 5em; }

/** Estilos de administrador de postales */
#postalImagen { min-height: 5em; }
#postales {
  .thumbnail {
    width: 7em;
    height: auto;
    cursor: pointer;
  }
}
.preview {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

aside {
  height: 100vh;
  padding: 1em !important;
  border-right: 2px solid steelblue;

  nav {
    margin-top: 2em;
  }
}
